#home {
    margin-top: 20px;
    font-size: 4rem;
    font-family: "Tangerine", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1 {
    font-family: "Quintessential", serif;
    color: var(--haldi-color);
    text-shadow:
        -1px -1px 0 var(--text-shadow-color),
        1px -1px 0 var(--text-shadow-color),
        -1px 1px 0 var(--text-shadow-color),
        1px 1px 0 var(--text-shadow-color);
}

#home h5 {
    color: black;
}